 /* Dark mode styles */
 body {
    margin-top: 20px;
    background-color: hsl(207, 19%, 11%);
    color: #d4d4d4;
    /* Light gray text color */
}

.container-xl {
    background-color: #1a1e26;
    /* Dark background color */
    border-radius: 0.5rem;
    padding: 1.5rem;
    height: 90vh;
}

.nav-borders .nav-link.active {
    color: #4e90f4;
    /* Blue color for active link */
    border-bottom-color: #4e90f4;
    /* Blue color for active link */
}

.nav-borders .nav-link {
    color: #d4d4d4;
    /* Light gray text color for links */
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
    /* Increased margin bottom for spacing */
}

.form-control {
    color: #d4d4d4;
    /* Light gray text color for form inputs */
    background-color: #1a1e26;
    /* Dark background color for form inputs */
    border-color: rgba(255, 255, 255, 0.15);
    /* Transparent white border color */
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
}

.table {
    background-color: #1a1e26;
    /* Dark background color for table */
    color: #d4d4d4;
    /* Light gray text color for table */
}

.table th,
.table td {
    border-color: rgba(255, 255, 255, 0.15);
    /* Transparent white border color */
}

.btn-danger {
    background-color: #dc3545;
    /* Red color for danger buttons */
    border-color: #dc3545;
    /* Red color for danger buttons */
}

.btn-secondary {
    background-color: #6c757d;
    /* Gray color for secondary buttons */
    border-color: #6c757d;
    /* Gray color for secondary buttons */
}

.modal-content {
    background-color: #1a1e26;
    /* Dark background color for modals */
    color: #d4d4d4;
    /* Light gray text color for modals */
}